a {
  color: #d68fd6;
  text-decoration: none;
}

a:hover {
  color: #0ff4c6;
  text-decoration: underline;
}

.page-background {
    background-color: #000009;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-app-wrapper {
    width: 70%;
    height: 98%;
    background-color: #464F51;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 60px;
}



.logo-header {
    margin: 3px 0 3px 0;
    font-size: 90px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: #0FF4C6;
    text-shadow: rgba(15,244,198,0.9) 0px 0px 15px;
}

.register-section {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input:focus {
    outline: none;
}

.username-input-header {
    font-family: "Syne", sans-serif;
    font-size: 30px;
    color: #DEFFF2;
    margin: 10px;
    margin-right: 150px;
}

.username-input {
    background-color: #000009;
    border: none;
    color: #D68FD6;
    width: 280px;
    height: 30px;
    border-radius: 5px 0px 5px 0px;
    font-family: "Syne", sans-serif;
    font-size: 20px;
}

.mail-input-header {
    font-family: "Syne", sans-serif;
    font-size: 30px;
    color: #DEFFF2;
    margin: 10px;
    margin-right: 220px;
}

.mail-input {
    background-color: #000009;
    border: none;
    color: #D68FD6;
    width: 280px;
    height: 30px;
    border-radius: 5px 0px 5px 0px;
    font-family: "Syne", sans-serif;
    font-size: 20px;
}

.password-input-header {
    font-family: "Syne", sans-serif;
    font-size: 30px;
    color: #DEFFF2;
    margin: 10px;
    margin-right: 150px;
}

.password-input {
    background-color: #000009;
    border: none;
    color: #D68FD6;
    width: 280px;
    height: 30px;
    border-radius: 5px 0px 5px 0px;
    font-family: "Syne", sans-serif;
    font-size: 20px;
}

.login-text {
    color: #DEFFF2;
    font-family: "Syne", sans-serif;
    margin-top: 20px;
}

.register-button {
    margin-top: 20px;
    width: 280px;
    height: 50px;
    background-color: #D68FD6;
    border: none;
    border-radius: 0px 20px 0px 20px;
    transition: 0.4s;
    font-family: "Syne", sans-serif;
    font-size: 35px;
}

.register-button:hover {
    border-radius: 20px;
    transition: 0.2s;
    font-size: 38px;
    background-color: rgb(224, 123, 224);
    cursor: pointer;
}

.register-error {
    color: rgb(255, 116, 116);
    font-family: "Syne", sans-serif;
    font-size: 18px;
}
